body {
    font-family: sans-serif;
    margin: 0;
}

.banner {
    justify-content: center;
    background-image: url(../../../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 154px 0;
    margin-bottom: 40px;
}

.background {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.paragraph {
    margin-bottom: 46px;
    margin-top: 46px;
}

.paragraph-sec {
    color: var(--paragraph-color);
    margin-bottom: 80px;
}

.block .block-wrapper  {
    color: #325d72;
}

h2 {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.paragraph-last {
    color: var(--paragraph-color);
    margin-bottom: 70px;
}
