body {
    font-family: sans-serif;
    margin: 0;
}

.banner {
    justify-content: center;
    background-image: url(../../../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 154px 0;
    margin-bottom: 40px;
}

.background {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}


