footer{
    padding: 50px 0;
    display: flex;
    background: #f5f5f5;
    padding: 30px 0 80px;
}

footer .footer-items {
    display: flex;
}


 a {
    text-decoration: none;
    color: #a1c0de;
    padding: 0 8px ;
}

.left_items, .right_items {
    width: 50%;
}

.right_items {
    display: flex;
    justify-content: flex-end;
}


